@font-face {
  font-family: 'Lato-Light';
  src: url("fonts/lato/Lato-Light.eot");
  src: url("fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("fonts/lato/Lato-Light.woff2") format("woff2"), url("fonts/lato/Lato-Light.woff") format("woff"), url("fonts/lato/Lato-Light.ttf") format("truetype"), url("fonts/lato/Lato-Light.svg#Lato-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato-Regular';
  src: url("fonts/lato/Lato-Regular.eot");
  src: url("fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/lato/Lato-Regular.woff2") format("woff2"), url("fonts/lato/Lato-Regular.woff") format("woff"), url("fonts/lato/Lato-Regular.ttf") format("truetype"), url("fonts/lato/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("fonts/montserrat/Montserrat-Regular.eot");
  src: url("fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), url("fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Asap-Bold';
  src: url("fonts/asap/Asap-Bold.eot");
  src: url("fonts/asap/Asap-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/asap/Asap-Bold.woff2") format("woff2"), url("fonts/asap/Asap-Bold.woff") format("woff"), url("fonts/asap/Asap-Bold.ttf") format("truetype"), url("fonts/asap/Asap-Bold.svg#Asap-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Asap-Regular';
  src: url("fonts/asap/Asap-Regular.eot");
  src: url("fonts/asap/Asap-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/asap/Asap-Regular.woff2") format("woff2"), url("fonts/asap/Asap-Regular.woff") format("woff"), url("fonts/asap/Asap-Regular.ttf") format("truetype"), url("fonts/asap/Asap-Regular.svg#Asap-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Asap-Medium';
  src: url("fonts/asap/Asap-Medium.eot");
  src: url("fonts/asap/Asap-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/asap/Asap-Medium.woff2") format("woff2"), url("fonts/asap/Asap-Medium.woff") format("woff"), url("fonts/asap/Asap-Medium.ttf") format("truetype"), url("fonts/asap/Asap-Medium.svg#Asap-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Asap-Italic';
  src: url("fonts/asap/Asap-Italic.eot");
  src: url("fonts/asap/Asap-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/asap/Asap-Italic.woff2") format("woff2"), url("fonts/asap/Asap-Italic.woff") format("woff"), url("fonts/asap/Asap-Italic.ttf") format("truetype"), url("fonts/asap/Asap-Italic.svg#Asap-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
h3 {
  font-family: 'Asap-Bold', sans-serif;
  font-size: 46px;
  color: #7a7a7a;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 70px; }
  h3:before {
    display: block;
    content: '';
    border-top: 4px solid #7a7a7a;
    width: 60px;
    margin: 0 auto 20px; }
  @media screen and (max-width: 600px) {
    h3 {
      font-size: 40px; } }

.pd-110 {
  padding: 110px 0; }

.pd-50 {
  padding: 50px 0; }

.pd-70 {
  padding: 70px 0; }

.bg {
  background-color: #f6f6f6; }

header {
  position: absolute;
  width: 100%;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    header {
      position: relative; } }
  header .container-fluid nav a {
    text-align: center;
    text-decoration: none;
    color: inherit; }
    header .container-fluid nav a span {
      font-family: 'Lato-Light', sans-serif;
      font-size: 14px;
      display: block;
      color: #000000; }
      header .container-fluid nav a span:after {
        content: 'UX/UI EXPERT';
        display: block;
        font-family: 'Lato-Regular', sans-serif;
        font-size: 4px; }
  header .container-fluid nav button.navbar-toggler {
    border: solid 1px black; }
    header .container-fluid nav button.navbar-toggler span {
      display: block;
      margin: 7px 0;
      width: 30px;
      height: 1px;
      background-color: black; }
  header .container-fluid div ul li {
    margin: 0 15px;
    font-family: 'Asap-Regular', sans-serif;
    font-size: 16px;
    border-bottom: solid 2px transparent;
    text-transform: uppercase;
    transition: 0.3s; }
    header .container-fluid div ul li:hover {
      border-bottom: solid 2px #878787; }

.banner {
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  padding: 80px 0 40px;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 768px) {
    .banner {
      top: -300px;
      padding: 400px 0 150px; } }
  .banner .container .row div h1 {
    font-family: "Asap-Medium", sans-serif;
    font-size: 90px;
    color: #4d4d4d; }
    @media screen and (max-width: 425px) {
      .banner .container .row div h1 {
        font-size: 40px; } }
  .banner .container .row div div {
    font-family: "Asap-Medium", sans-serif;
    font-size: 22px;
    color: #878787;
    padding: 7px;
    margin-bottom: 20px; }
    @media screen and (max-width: 425px) {
      .banner .container .row div div {
        font-size: 14px;
        padding: 0; } }
  .banner .container .row div img {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .banner .container .row div img {
        display: none; } }
  .banner .container .row div a {
    font-family: 'Asap-Medium', sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 20px;
    background-color: white;
    border-radius: 0;
    width: 150px;
    margin-bottom: 20px;
    border: none; }
  .banner .container .row div a:last-of-type {
    background-color: transparent;
    border: 1px solid #4d4d4d; }

.content {
  padding: 115px 0; }
  @media screen and (max-width: 768px) {
    .content {
      padding: 0 0 115px;
      margin-top: -150px; } }
  .content .container .row div h2 {
    text-transform: uppercase;
    font-family: 'Asap-Bold', sans-serif;
    font-size: 46px;
    letter-spacing: 2px;
    max-width: 350px;
    color: #7a7a7a; }
    .content .container .row div h2:before {
      display: block;
      content: '';
      border-top: 4px solid #7a7a7a;
      width: 60px;
      margin-bottom: 20px; }
    @media screen and (max-width: 600px) {
      .content .container .row div h2 {
        font-size: 40px; } }
  .content .container .row div p {
    font-family: 'Asap-Regular', sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    max-width: 470px;
    margin-bottom: 40px; }
  .content .container .row div .btn {
    font-family: 'Asap-Medium', sans-serif;
    font-size: 16px;
    color: #4d4d4d;
    text-transform: uppercase;
    padding: 15px 0;
    border: 1px solid #4d4d4d;
    border-radius: 0;
    max-width: 220px; }
  .content .container .row div img {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .content .container .row div img {
        margin-top: 50px; } }

.services .container .row {
  text-align: center; }
  .services .container .row div p {
    padding: 15px;
    margin-bottom: 70px;
    font-family: 'Asap-Medium', sans-serif;
    font-size: 24px;
    color: #4d4d4d; }

.portfolio .container .row div {
  margin: 15px 0; }
  .portfolio .container .row div a {
    width: 100%; }
    .portfolio .container .row div a img {
      width: 100%;
      height: 100%;
      transition: 0.3s; }
    .portfolio .container .row div a img:hover {
      -webkit-box-shadow: 1px 1px 5px 2px #dbdbdb;
      box-shadow: 3px 3px 8px 5px #dbdbdb; }
.portfolio .container .row .btn {
  margin-top: 30px; }

.carousel .container .row .single-slide {
  padding: 0 6.6vw;
  border: 1px solid #000000;
  box-sizing: border-box; }
  @media screen and (max-width: 1024px) {
    .carousel .container .row .single-slide {
      padding: 0 15px; } }
  .carousel .container .row .single-slide .item {
    outline: none; }
    .carousel .container .row .single-slide .item h4 {
      text-transform: uppercase;
      color: #212121;
      margin-bottom: -5px;
      text-align: left;
      font-family: Asap-Medium;
      font-size: 30px; }
    .carousel .container .row .single-slide .item span {
      color: #212121;
      text-align: left;
      font-family: Asap-Italic;
      font-size: 12px; }
    .carousel .container .row .single-slide .item p {
      margin-top: 20px;
      text-transform: uppercase;
      text-align: left;
      color: #212121;
      font-family: Asap-Regular;
      font-size: 15px; }

.btn-white {
  font-family: 'Asap-Medium', sans-serif;
  font-size: 16px;
  color: #4d4d4d;
  text-transform: uppercase;
  padding: 10px;
  margin-right: 20px;
  background-color: white;
  border-radius: 0;
  width: 220px;
  margin-bottom: 20px;
  border: none;
  transition: 0.3s; }
  .btn-white:hover {
    -webkit-box-shadow: 1px 1px 5px 2px #dbdbdb;
    box-shadow: 3px 3px 8px 5px #dbdbdb; }

.slick-dots {
  bottom: 10px;
  width: 80%; }
  .slick-dots li {
    border: 1px solid #000000;
    background: white;
    box-shadow: none;
    width: 16px;
    height: 16px; }
    .slick-dots li button {
      color: transparent;
      background: transparent;
      opacity: 0; }
      .slick-dots li button :before {
        color: transparent;
        background: transparent; }
  .slick-dots .slick-active {
    background: black;
    opacity: 1;
    box-shadow: none; }

/*# sourceMappingURL=main.css.map */
